@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.weather-app {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background-color: #92d5fd;
  margin: 0 auto;
  border-radius: 9px;
  min-width: 310px;
  padding: 17% 10%;
}

.weather-app__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .weather-app__top {
    background-color: #92d5fd;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-style: outset;
    border-radius: 9px;
  }
}


