.forecast-summaries {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

@media only screen and (max-width: 767px) {
  .forecast-summaries {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin: 17rem auto 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .forecast-summaries {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin: 13rem auto 0 auto;
  }
}
