.forecast-summary {
  background-color: #b3e2fe;
  text-align: center;
  width: 15%;
  max-width: 375px;
  margin-top: 1.5em;
  border-style: outset;
  border-radius: 9px;
  padding: 0.5rem;
}

.forecast-summary__description {
  margin-bottom: 0.5em;
}

.forecast-summary button {
  background-color: #00003c;
  color: #fff;
  border: none;
  border-radius: 5%;
  padding: 0.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.forecast-summary button:hover {
  transform: scale(1.3);
  background-color: #56ffac;
  color: #00003c;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .forecast-summary {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 0;
  }

  .forecast-summary__date, 
  .forecast-summary__temperature, 
  .forecast-summary__description,
  .forecast-summary button {
    font-size: 1.5rem;
  }
}
