.forecast-details {
  align-self: center;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 9px;
}

.forecast-details__date {
  font-size: 1.5em;
}

.forecast-details__bold {
  font-weight: bold;
}