.search-form button {
  font-size: 1.1rem;
  background-color: #00003c;
  color: #fff;
  border: none;
  border-radius: 5%;
  padding: 0.4em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-left: 0.25rem;
}

.search-form button:hover {
  background-color: #56ffac;
  border: 1px solid #00003c;
  color: #00003c;
  cursor: pointer;
}

.search-form input {
  font-size: 1.1rem;
  padding: 0.4rem;
}