.search-form button {
    background-color: #00003c;
    color: #fff;
    border: 1px solid black;
    border-radius: 5%;
    padding: 0.3em;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
  }

.search-form input {
    padding: 0.25em;
}