.search-form button {
  background-color: #00003c;
  color: #fff;
  border: none;
  border-radius: 5%;
  padding: 0.4em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.search-form button:hover {
  background-color: #56ffac;
  color: #00003c;
  cursor: pointer;
}

.search-form input {
  padding: 0.25em;
}